<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/login/login.css" />
		<link rel="stylesheet" type="text/css" href="/css/public.css"/>
		<title>首页</title>
	</head>
	<body>
		<div class="register-box">
			<div class="register">
				<div class="title">商家后台系统</div>
				<div id="">

				</div>
				<form>
					<div class="form-group  mt-10 clearfixb">
						<label for="email" class="fl itemName">邮箱</label>
						<div class="fl inputItem">
							<input type="email" class="form-control" id="email">
							<div class="error-msg">邮箱格式不正确</div>
						</div>
					</div>
					<div class="form-group mt-10 clearfixb">
						<label for="nickName" class="itemName fl">昵称</label>
						<div class="fl inputItem">
							<input type="text" class="form-control" id="nickName">
							<div class="error-msg">昵称支持字母数字下划线组合</div>
						</div>
					</div>
					<div class="form-group mt-10 clearfixb">
						<label for="password" class="itemName fl">密码</label>
						<div class="fl inputItem">
							<input type="password" class="form-control" id="password">
							<div class="error-msg">密码支持字母数字下划线组合6-16字符</div>
						</div>
					</div>
					<div class="form-group mt-10 clearfixb">
						<label for="code" class="itemName fl">验证码</label>
						<div class="fl inputItem">
							<div class="getcode fl">
								<input type="password" class="form-control" id="code">
								<div class="error-msg">验证码为6为数字</div>
							</div>
							<!-- <div class="btnItem btn" id="getCode">	获取验证码</div> -->
							<button type="button" class="btnItem btn" id="getCode">获取验证码</button>
						</div>
						
					</div>
					<button type="submit" id="register" class="btn btn-primary btn-block">注册</button>
				</form>
				<div class="clearfixb">
					<span class="fr">已有账号登录</span>
				</div>
			</div>
		</div>
		<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/validForm.js"></script>
		<script src="/js/rigester.js"></script>
	</body>
</html>
